- var themw='white'
- var profilePicCss='float:left;;position:relative;margin-left:5px;width:60px;height:60px;border-radius:50%;border:5px solid #fff;'
- var coverPicCss='height:70px;position:absolute;margin-left:50px;float:left;'
- var NameCss ='position:relative;width:200px;white-space: nowrap;overflow: hidden;-overflow: ellipsis;'

html( lang="en")
  head
    link(rel="stylesheet" href="/assets/css/styleAdmin.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    title knowledgeCube - Admin Dashboard
    link(rel='stylesheet' href='/assets/css/style.css')

  body 
  
    .login-signup-backgrop
       
      .dashboard-card
        .blank 
        .dashboard-card-outer
          .blank

       
            #admin-nav
              div(style="float:left;")
                img( src = usercoverPhoto , alt="Description of the image", style=coverPicCss)
                img( src = userprofilePhoto , alt="Description of the image", style=profilePicCss)
                h3(style ="margin-left:270px;;"+NameCss)= "Hey, " + user 
                a(href="/admin/logout" id="logOutBtn") Logout
     
       
            #content 
              include partials/postCard.pug
